md-slider[md-discrete] {
	.md-sign {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0) scale(1);
		transform: translate3d(0, 0, 0) scale(1);
		&:after {
			opacity: 1;
			-webkit-transform: translate3d(0, 0, 0) scale(1);
			transform: translate3d(0, 0, 0) scale(1);
		}
	}
}
