<div fxLayout="column">
	<div fxLayout="row" fxLayoutAlign="center center">
		<div fxLayout="column" fxLayoutAlign="start start" fxFlex="50">
			<h1>Jung Typology Test</h1>
			<p>This free personality test is based on Carl Jung’s and Isabel Briggs Myers’ personality type theory..</p>
			<p>Upon completion of the questionnaire, you will:</p>
			<ul>
				<li>Obtain your 4-letter type formula according to Carl Jung’s and Isabel Briggs Myers’ typology, along with the strengths of preferences and the description of your personality type</li>
				<li>Discover careers and occupations most suitable for your personality type along with examples of educational institutions where you can get a relevant degree or training</li>
				<li>Understand communication and learning styles of your type</li>
				<li>See which famous personalities share your type</li>
				<li>Be able to use the results of this test as an input into the Jung Marriage Test™ to assess your compatibility with your long-term romantic partner.</li>
			</ul>
		</div>
		<img src="assets/personality-types-test.png" alt="Jung Typology Test">
	</div>
	<div fxLayout="row" fxLayoutAlign="center center">
		<button mat-raised-button (click)="openPersonalityTestDialog()">Begin the test</button>
	</div>
</div>
